.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-layout-sider {
  height: 10000vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; /* Adjust the gap between grid items */
}

.form-grid .ant-form-item {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-layout-sider {
  height: auto !important;
}
.row-positive {
  background-color: #d4edda; /* Light green */
}

.row-negative {
  background-color: #f8d7da; /* Light red */
}

.row-neutral {
  background-color: #ffffff; /* White or keep the default color */
}